 {{> contact/_contact-modal}}
<section class="contact color-purple">
<div class="section-gap" style="display:none"></div>	
	<div class="contact-content container">
		<div class="contact-card mycard row color-blackest valign">
			<div class="contact-col col s12 l4">
				<div class="contact-header center-align">
					Contact Me
				</div>
			</div>
			<div class="contact-col col s12 l4 push-l4">
				<div class="contact-text center-align">
					Interested in working together with me? We should get in touch. Let's get to know one another.
				</div>
			</div>
			<div class="contact-col col s12 l4 pull-l4">
				<div class="contact-button center-align">
					<button class="bttn bttn-big bblack">
						<div class="color-black"></div>
						Send a Message
					</button>
				</div>
			</div>
		</div>
	</div>
</section>