<footer class="footer color-purple">
	<div class="footer-logo center-align">
		<div class="footer-logo-text">MaiCoding</div>
		<img class="my-logo" src="./assets/images/minilogo-r.png" alt="mini-logo" />
	</div>
	<div class="footer-quote center-align">I make stuff.
		<div class="footer-quote center-align">Want me to make your stuff?</div>
	</div>
	<div class="footer-links center-align">
		<div class="footer-link">
			<a href="https://github.com/RealTayy" target="_blank">
				<i class="footer-link-icon fab fa-github-square fa-3x"></i>
			</a>
		</div>
		<div class="footer-link">
			<a href="https://www.linkedin.com/in/the-mai-44703b91/" target="_blank">
				<i class="footer-link-icon fab fa-linkedin fa-3x"></i>
			</a>
		</div>
		<div class="footer-link">
			<a href="mailto:themai@maicoding.me">
				<i class="footer-link-icon fas fa-envelope-square fa-3x"></i>
			</a>
		</div>
	</div>
	<div class="footer-copyright center-align">
		Made by me
		<i class="fas fa-copyright"></i> TwoZeroOneEight
	</div>
</footer>