<section class="hero">
	<div class="nav-gap"></div>
	<div class="hero-island container">
		<div class="hero-island-wrapper">
			<div class="hero-island-header">
				<h1 class="hero-island-header-text center-align">Hi, my name is The Mai</h1>
			</div>
			<div class="hero-island-subheader">
				<h4 class="hero-island-subheader-text center-align">I'm a full stack Web Developer</h4>
			</div>
		</div>
	</div>
	<div class="hero-footer">
		<div class="container">
			<div class="hero-footer-image">
				<img class="responsive-img" src="http://via.placeholder.com/2000x1169" alt="hero-footer-image" />
			</div>
		</div>
	</div>

</section>