<section class="hero">
	<div class="nav-gap"></div>
	<div class="hero-island container">
		<div class="hero-island-wrapper">
			<div class="hero-island-header center-align">
				<h1 class="hero-island-header-text">Hi, my name is The Mai</h1>
			</div>
			<div class="hero-island-subheader center-align">
				<h4 class="hero-island-subheader-text">I'm a Full-Stack Web Developer</h4>
			</div>
		</div>
	</div>
		<div class="hero-island-button center-align">
			<button class="button">Come on in</a>
		</div>
	<div class="hero-footer">
		<div class="hero-footer-wrapper">
			<div class="hero-footer-image">
				<img class="hero-img" src="./assets/images/heroImage.png" alt="hero-footer-image" />
			</div>
		</div>
	</div>

</section>