<section class="hero">
	<div class="hero-island container">
		<div class="hero-island-header">
			<h1 class="center-align">Hi, my name is The Mai</h1>
		</div>
		<div class="hero-island-subheaderF">
			<h4 class="center-align">I'm a full stack Web Developer</h4>
		</div>
	</div>
	<div class="hero-footer">
		<div class="container">
			<div class="hero-footer-image">
				<img class="responsive-img" src="http://via.placeholder.com/2000x1169" alt="hero-footer-image" />
			</div>
		</div>
	</div>

</section>