<nav>
	<div class="nav-wrapper container">
		<a href="#!" class="nav-logo">
			<img class="nav-logo-img" src="./assets/images/minilogo-r.png" alt="mini-logo" />
			<div class="nav-logo-text">MaiCoding</div>
		</a>
	</div>
</nav>