<section class="projects">
	<div class="section-gap"></div>
	<div class="projects-header container center-align">
		<h2 class="projects-header-text section-header-text">
			Here's some websites. I made them.
		</h2>
		<p class="projects-subheader-text section-subheader-text">
			Want me to make yours? Let me know.
			<a>Hit me up.</a>
		</p>
	</div>
	<div class="projects-websites container">
		<div class="section-gap"></div>
		<div class="websites row">
			<div class="website col s12 m6 l4">
				<figure class="website-card">
					<img class="website-bg" src="http://via.placeholder.com/960x640" alt="website">
				</figure>
			</div>
			<div class="website col s12 m6 l4">
				<figure class="website-card">
					<img class="website-bg" src="http://via.placeholder.com/960x640" alt="websitename">
				</figure>
			</div>
			<div class="website col s12 m6 l4">
				<figure class="website-card">
					<img class="website-bg" src="http://via.placeholder.com/960x640" alt="websitename">
				</figure>
			</div>
			<div class="website col s12 m6 l4">
				<figure class="website-card">
					<img class="website-bg" src="http://via.placeholder.com/960x640" alt="websitename">
				</figure>
			</div>
			<div class="website col s12 m6 l4">
				<figure class="website-card">
					<img class="website-bg" src="http://via.placeholder.com/960x640" alt="website">
				</figure>
			</div>
		</div>
	</div>
	<div class="section-gap"></div>
	<div class="projects-header container center-align">
		<h2 class="projects-header-text section-header-text">
			Here's some apps. I made these too.
		</h2>
		<p class="projects-subheader-text section-subheader-text">
			Have some questions? Don't be shy.
			<a>Email Me.</a>
		</p>
		<p class="resume-subheader-text section-subheader-text">
			Looking for my resume?
			<a href="https://drive.google.com/file/d/1iIAI0_nrjGaB6OWqMJCWVuwCaiSXmZLt/view?usp=sharing" target="_blank">Look no further.</a>
		</p>
	</div>
	<div class="projects-apps">
		{{#each projects}} {{> projects/_project}} {{/each}}
	</div>
</section>