<section class="projects">
	<div class="section-gap"></div>
	<div class="projects-header container center-align">
		<h2 class="projects-header-text section-header-text">
			Here's my stuff. I made them.
		</h2>
		<p class="projects-subheader-text section-subheader-text">
			Have some questions? Don't be shy.
			<a>Email Me.</a>
		</p>
		<p class="resume-subheader-text section-subheader-text">
			Looking for my resume?
			<a href="https://drive.google.com/file/d/1iIAI0_nrjGaB6OWqMJCWVuwCaiSXmZLt/view?usp=sharing" target="_blank">Look no further.</a>
		</p>
	</div>"
	<div class="projects-content">
		{{#each projects}} {{> projects/_project}} {{/each}}
	</div>
</section>