<section class="skills">
	<div class="skills-gap"></div>
	<div class="skills-content container">
		<div class="skills-cards row">
			<div class="skills-card-col col m12 l4 center-align">
				<div class="skills-card-image">
					<i class="fas fa-pen-alt fa-3x skills-card-icon"></i>
				</div>
				<div class="skills-card-header">
					<div class="skills-card-header-text">Design</div>
				</div>
				<div class="skills-card-body">
					<div class="skills-card-body-text">
						Adipisicing anim velit eiusmod id aliquip incididunt ipsum et. Velit Lorem laboris Lorem incididunt veniam in pariatur excepteur
						velit. Ex qui fugiat aliquip occaecat ea elit.
					</div>
				</div>
				<div class="skills-card-list">
					<div class="skills-card-list-header">
						<div class="skills-card-list-header-text">
							What I enjoy designing
						</div>
					</div>
					<div class="skills-card-list-items">
						<p>UI, UX, Web, Mobile, Apps</p>
					</div>
				</div>
				<div class="skills-card-list">
					<div class="skills-card-list-header">
						<div class="skills-card-list-header-text">
							Tools I design with
						</div>
					</div>
					<div class="skills-card-list-items">
						<div class="skills-card-list-item">Balsamiq Mockups 3</div>
						<div class="skills-card-list-item">Mockflow</div>
						<div class="skills-card-list-item">Github Projects</div>
						<div class="skills-card-list-item">Adobe Illustrator</div>
						<div class="skills-card-list-item">Adobe Photoshop</div>
						<div class="skills-card-list-item">Paint.net</div>
					</div>
				</div>
			</div>
			<div class="skills-card-col col m12 l4 center-align mid-card">
				<div class="skills-card-image">
					<i class="fas fa-code fa-3x skills-card-icon"></i>
				</div>
				<div class="skills-card-header">
					<div class="skills-card-header-text">Front-End</div>
				</div>
				<div class="skills-card-body">
					<div class="skills-card-body-text">
						Adipisicing anim velit eiusmod id aliquip incididunt ipsum et. Velit Lorem laboris Lorem incididunt veniam in pariatur excepteur
						velit. Ex qui fugiat aliquip occaecat ea elit.
					</div>
				</div>
				<div class="skills-card-list">
					<div class="skills-card-list-header">
						<div class="skills-card-list-header-text">
							What my code is written in
						</div>
					</div>
					<div class="skills-card-list-items">
						<p>HTML, Javascript, jQuery, CSS, SASS</p>
					</div>
				</div>
				<div class="skills-card-list">
					<div class="skills-card-list-header">
						<div class="skills-card-list-header-text">
							Tools I write with
						</div>
					</div>
					<div class="skills-card-list-items">
						<div class="skills-card-list-item">Bootstrap 4</div>
						<div class="skills-card-list-item">React.js</div>
						<div class="skills-card-list-item">Materialize</div>
						<div class="skills-card-list-item">Knockout.js</div>
						<div class="skills-card-list-item">jQueryUI</div>
						<div class="skills-card-list-item">HandleBars</div>
					</div>
				</div>
			</div>
			<div class="skills-card-col col m12 l4 center-align">
				<div class="skills-card-image">
					<i class="fas fa-server fa-3x skills-card-icon"></i>
				</div>
				<div class="skills-card-header">
					<div class="skills-card-header-text">Back-End</div>
				</div>
				<div class="skills-card-body">
					<div class="skills-card-body-text">
						Adipisicing anim velit eiusmod id aliquip incididunt ipsum et. Velit Lorem laboris Lorem incididunt veniam in pariatur excepteur
						velit. Ex qui fugiat aliquip occaecat ea elit.
					</div>
				</div>
				<div class="skills-card-list">
					<div class="skills-card-list-header">
						<div class="skills-card-list-header-text">
							What languages I speak:
						</div>
					</div>
					<div class="skills-card-list-items">
						<p>ECMAScript, MongoDB, MySQL, Java, PHP, Python,</p>
					</div>
				</div>
				<div class="skills-card-list">
					<div class="skills-card-list-header">
						<div class="skills-card-list-header-text">
							Tools I code with
						</div>
					</div>
					<div class="skills-card-list-items">
						<div class="skills-card-list-item">Node.js</div>
						<div class="skills-card-list-item">Mongoose</div>
						<div class="skills-card-list-item">Sequelize</div>
						<div class="skills-card-list-item">Firebase</div>
						<div class="skills-card-list-item">Cheerio</div>
						<div class="skills-card-list-item">Selenium</div>
						<div class="skills-card-list-item">Git</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>