<section class="skills">
	<div class="skills-gap"></div>	
	<div class="skills-content container">
		<div class="skills-cards row">
			<div class="skills-card-col col m12 l4 center-align">
				<div class="skills-card-image">
					<img class="skill-img" src="http://via.placeholder.com/64x64" alt="hero-footer-image" />
				</div>
				<div class="skills-card-header">
					<div class="skills-card-header-text">Design UI/UX</div>
				</div>
				<div class="skills-card-body">
					<div class="skills-card-body-text">
						Adipisicing anim velit eiusmod id aliquip incididunt ipsum et. Velit Lorem laboris Lorem incididunt veniam in pariatur excepteur
						velit. Ex qui fugiat aliquip occaecat ea elit.
					</div>
				</div>
				<div class="skills-card-tools">
					<div class="skills-card-tools-header">
						<div class="skills-card-tools-header-text">
							Some things I use:
						</div>
					</div>
					<ul class="skills-card-tools-list">
						<li class="skills-card-tolls-item">Tool 1</li>
						<li class="skills-card-tolls-item">Tool 2</li>
						<li class="skills-card-tolls-item">Tool 3</li>
					</ul>
				</div>
			</div>
			<div class="skills-card-col col m12 l4 center-align mid-card">
				<div class="skills-card-image">
					<img class="skill-img" src="http://via.placeholder.com/64x64" alt="hero-footer-image" />
				</div>
				<div class="skills-card-header">
					<div class="skills-card-header-text">Front-End</div>
				</div>
				<div class="skills-card-body">
					<div class="skills-card-body-text">
						Adipisicing anim velit eiusmod id aliquip incididunt ipsum et. Velit Lorem laboris Lorem incididunt veniam in pariatur excepteur
						velit. Ex qui fugiat aliquip occaecat ea elit.
					</div>
				</div>
				<div class="skills-card-tools">
					<div class="skills-card-tools-header">
						<div class="skills-card-tools-header-text">
							Some things I use:
						</div>
					</div>
					<ul class="skills-card-tools-list">
						<li class="skills-card-tolls-item">Tool 1</li>
						<li class="skills-card-tolls-item">Tool 2</li>
						<li class="skills-card-tolls-item">Tool 3</li>
					</ul>
				</div>
			</div>
			<div class="skills-card-col col m12 l4 center-align">
				<div class="skills-card-image">
					<img class="skill-img" src="http://via.placeholder.com/64x64" alt="hero-footer-image" />
				</div>
				<div class="skills-card-header">
					<div class="skills-card-header-text">Back-End</div>
				</div>
				<div class="skills-card-body">
					<div class="skills-card-body-text">
						Adipisicing anim velit eiusmod id aliquip incididunt ipsum et. Velit Lorem laboris Lorem incididunt veniam in pariatur excepteur
						velit. Ex qui fugiat aliquip occaecat ea elit.
					</div>
				</div>
				<div class="skills-card-tools">
					<div class="skills-card-tools-header">
						<div class="skills-card-tools-header-text">
							Some things I use:
						</div>
					</div>
					<ul class="skills-card-tools-list">
						<li class="skills-card-tolls-item">Tool 1</li>
						<li class="skills-card-tolls-item">Tool 2</li>
						<li class="skills-card-tolls-item">Tool 3</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>