<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>The Mai | Full-stack Dev</title>

{{!-- Load favicon.ico --}}
<link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon"/>


{{!-- Load materialize.css --}}
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"
>
{{!-- Load Font Awesome Icons --}}
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
	integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	crossorigin="anonymous"
>

{{!-- Load Google Fonts --}}
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto"
>

{{!-- Load style.css --}}
<link 
	rel="stylesheet"
	href="./assets/css/style.css"
>

{{!-- Load navbar.css --}}
<link 
	rel="stylesheet"
	href="./assets/css/navbar.css"
>

{{!-- Load hero.css --}}
<link 
	rel="stylesheet"
	href="./assets/css/hero.css"
>

{{!-- Load intro.css --}}
<link
	rel="stylesheet"
	href="./assets/css/intro.css"
>

{{!-- Load skills.css --}}
<link
	rel="stylesheet"
	href="./assets/css/skills.css"
>

{{!-- Load material icons --}}
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons"
>