<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="QQ-xuDdJXzRdA1dCY6yDNzE-q46e1wxPLIgeItM3GPE" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>The Mai | Full-stack Dev</title>

{{!-- SEO meta tags --}}
<meta name="author" content="MaiCoding">
<meta name="description" content="Nice to meet you. My name is The Mai and I'm a developer living in Houston. I'm very passionate about doing the things I love. Luckily for me one of those things just so happens to be Web Development. I love working with talented people and making stuff that feels great to use. Want me to make your stuff? Let's talk over a cup of coffee.">
<link rel="publisher" href="https://maicoding.me">
<meta name="keywords" content="the, mai, maicoding, web developer, web, developer, development, portfolio, resume, houston, sugar land, freelancer">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="2 month">

{{!-- Load favicon.ico --}}
<link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon" />


{{!-- Load materialize.css --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
{{!-- Load Font Awesome Icons --}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
 crossorigin="anonymous">

{{!-- Load Google Fonts --}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto">

{{!-- Load style.css --}}
<link rel="stylesheet" href="./assets/css/style.css">

{{!-- Load bttn.css --}}
<link rel="stylesheet" href="./assets/css/bttn.css">

{{!-- Load navbar.css --}}
<link rel="stylesheet" href="./assets/css/navbar.css">

{{!-- Load hero.css --}}
<link rel="stylesheet" href="./assets/css/hero.css">

{{!-- Load intro.css --}}
<link rel="stylesheet" href="./assets/css/intro.css">

{{!-- Load skills.css --}}
<link rel="stylesheet" href="./assets/css/skills.css">

{{!-- Load projects.css --}}
<link rel="stylesheet" href="./assets/css/projects.css">

{{!-- Load contact.css --}}
<link rel="stylesheet" href="./assets/css/contact.css">

{{!-- Load footer.css--}}
<link rel="stylesheet" href="./assets/css/footer.css">

{{!-- Load material icons --}}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">