.hero {
  position: relative;
  display: flex;  
  height: 100vh;
  background: #999;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.nav-gap {
  width: 100%;  
}

.hero-island {  
  position: relative;
  top: 1.618rem;
  width: 100%;    
}

.hero-island > div {
  position: relative;
  z-index: 1;  
}

.hero-island-header-text {
  font-size: 4.236rem;
}

.hero-island-subheader-text {
  font-size: 2.618rem; 
}

.hero-island-button {
  margin-top: 1rem
}

.hero-footer {
  position: relative;
  bottom: -2.618rem;
  width: 100%;  
}

.hero-footer-image {
  max-width: 650px;
  margin: 0 auto; 
}


/* Small */
@media only screen and (max-width: 600px) {
  .nav-gap {
    height: calc(1rem + 64px);
  }

  .hero-island-header-text {
    font-size: 2.618rem;
  }
  
  .hero-island-subheader-text {
    font-size: 1.618rem; 
  }

  .hero-footer {
    bottom: -1.618rem;    
  }
}

/* Medium */
@media only screen and (min-width: 601px) {
  .nav-gap {
    height: calc(1rem + 64px);
  }

  .hero-island-header-text {
    font-size: 4.236rem;
  }
  
  .hero-island-subheader-text {
    font-size: 2.618rem; 
  }

  .hero-footer {
    bottom: -2.618rem;    
  }
}

/* Large */
@media only screen and (min-width: 993px) {}

/* Extra Large */
@media only screen and (min-width: 1200px) {}