nav {	
	position: absolute;
	z-index: 1;
	top: 1rem;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #fff;
}

.nav-logo .nav-logo-img {
	height: 64px;
	width: 64px;
}

/* Small */
@media only screen and (max-width: 600px) {
	.nav-logo .nav-logo-img {
		height: 56px;
		width: 56px;
	}
}

/* Medium */
@media only screen and (min-width: 601px) {}

/* Large */
@media only screen and (min-width: 993px) {}

/* Extra Large */
@media only screen and (min-width: 1200px) {}