.projects {
  font-size: .9rem;
  line-height: 1.25rem;
}

.projects-subheader-text>a {
  cursor: pointer;
}

.project-body {
  text-align: center;
}

.project-image>img {
  border-radius: .618rem;
}

.project-apps {
  padding-top: 1.618rem;
}

.project-apps,
.project-technologies,
.project-links {
  margin: 0;
  padding-bottom: 1.618rem;
}

.project-title {
  font-size: 1.618rem;
  font-weight: bold;
  color: #7454DF;
  margin-bottom: .618rem;
}

.project-subtitle {
  margin-bottom: .618rem;
}

.project-text-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .618rem;
}

.project-link {
  margin: .618rem .309rem;
}

.technology-img {
  margin: .309rem;
  height: 30px;
}

.websites {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.websites .website {
  padding: .5rem;
  margin-left: 0 !important;
  overflow: hidden;
}

.website .website-card {
  position: relative;
  border-radius: .618rem;
  overflow: hidden;
}

.website-card .bg-img {
  position: relative;
  display: block;
  width: 100%;
  transition-property: opacity;
  opacity: 1;
}

.website-card figcaption {
  position: absolute;
  color: white;
  top: 0%;
  /* top: -100%; */
  height: 200%;
  width: 100%;
  z-index: 1;
  transition-property: opacity, top;
  transition-duration: .5s;
  opacity: 0;
  /* opacity: 1; */
}

.website-card figcaption:hover {
  opacity: 1;
  top: -100%;
}

.website-card figcaption div {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 91, 95, 0.90);
  top: 50%;
  height: 50%;
  border-radius: .618rem;
}

.website-card figcaption h1 {
  padding: .75rem;
  font-weight: bold;
  margin-bottom: .3333rem;
}

/* Small */

@media only screen and (max-width: 600px) {
  .project-title {
    margin-top: .618rem;
  }
}

/* Medium */

@media only screen and (min-width: 601px) {
  .project-title {
    margin-top: .618rem;
  }
  .technology-img {
    margin: .618rem;
    height: 40px;
  }
}

/* Large */

@media only screen and (min-width: 993px) {
  .direction-right .project-image {
    position: relative;
    left: 41.6666666667% !important;
  }
  .direction-right .project-body {
    position: relative;
    right: 58.3333333333% !important;
  }
  .valign {
    display: flex;
    align-items: center;
  }
  .project-body {
    text-align: left;
  }
  .technology-img {
    margin: .618rem;
    height: 50px;
  }
}

/* Extra Large */

@media only screen and (min-width: 1200px) {}