h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
}	

nav {
  position: relative;
  z-index: 1;
}

/* Small */
@media only screen and (max-width: 600px) {

}

/* Medium */
@media only screen and (min-width: 601px) {

}

/* Large */
@media only screen and (min-width: 993px) {

}

/* Extra Large */
@media only screen and (min-width: 1200px) {

}