/* #7454df */

html {
  color: #333;
  font-size: 1rem;
  line-height: 1.7rem;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
}

.section-gap {
  width: 100%;
  height: 3.618rem;
}

.section-header-text {
  font-weight: bold;
  font-size: 2.618rem;
}

.section-subheader-text {
  font-size: 1.2rem;
}

.mycard {
  border: 1px solid #ddd;
  border-radius: .618rem;
  box-shadow: 0 5px 5px -1px #ddd;
}

.color-white {
  background-color: #fff;
  color: #333;
}

.color-black {
  background-color: #444;
  color: #fff;
}

.color-grey {
  background-color: #ddd;
  color: #333;
}

.color-blackest {
  background-color: #222;
  color: #fff;
}

.color-purple {
  background-color: #7454DF;
  color: #fff;
}

.my-logo {
  border-radius: .618rem;
}

/* Small */

@media only screen and (max-width: 600px) {}

/* Medium */

@media only screen and (min-width: 601px) {}

/* Large */

@media only screen and (min-width: 993px) {}

/* Extra Large */

@media only screen and (min-width: 1200px) {}

/* Scroll Bar Stuff */

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #bbb;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #999;
}